.footer {
    background-color: #1F1F1F;
    min-height: 350px;
    display: flex;
  }

  .footer-columns {
   width: 90%;
   margin: 0 auto;
   margin-top: 60px;
   margin-bottom: 40px;
    display: flex;
   flex-direction: row;
   justify-content: space-between;

  }

  .footer__column_content_copyright {
    flex-basis: 711px;
    display: flex;
   flex-direction: column;
   justify-content: space-between;
  }

  .footer__logo_place_footer {
    width: 183px;
    height: 35px;
  }

  .footer-author {
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    color: white;
    margin-bottom: 18px;
  }

  .footer__column_heading {
    display: flex;
   flex-direction: column;
  }

  .footer__column_content_about {
    margin-bottom: 20px;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    color: white;
  }

  .footer-list {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color: white;
    text-decoration: none;
  }

  .footer__column_link {
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
   }

  .footer__social-icons {
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }

  .footer__column_content_social {
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
