.footer__column-heading {
    display: flex;
   flex-direction: column;
  }

  .footer__column-content_about {
    margin-bottom: 20px;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    color: white;
  }

  .footer-list {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color: white;
    text-decoration: none;
  }

  .footer__column-link {
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
   }

  .footer__social-icons {
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }

  .footer__column-content_social {
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }

